
body{
  background-color: rgba(0, 0, 0, 0.233);
  background-image:url(gradient.jpeg);
  background-size:cover;
  background-position: center;
  font-size:50 px;
  width:100%;


h2{
  color:white;
}
.ai{
  color: green;
}
header{
height: 50 px;
background-color:rgb(5, 5, 5);
}
main{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: rgb(0, 0, 0);
text-align: center;
margin-left: 25%;
margin-right: 25%;
width: 50%;
font-size: 150%;


}
p{
text-align: center;
margin-left: 25%;
margin-right: 25%;
width:80%
font-size: 75%;
}
h1{
  padding-top: 50%;
  text-align: center;


  color:white;

}
section{
text-align: center;
padding-top: 25px;
margin-left: auto;
margin-right: auto;
width:100%;
font-size: 100%;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h4{
margin-left: 25%;
margin-right: 25%;
width: 50%;
font-size: 100%;
color:black;
font-style: bold;
}

figure{
opacity:0.5;

}
footer{
background-color: rgba(128, 128, 128, 0.322);
text-align: center;
font-size: 30px;
color:black;
font-style: bold;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



.container{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.button
{
    display: inline-block;
    color: white;
    font-size: 25px;
    text-decoration: none;
    background-color: rgb(43, 90, 55);
    padding: 1px 32px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    
}
.aboutText{
  color: white;
  text-align: center;
  font-size: 150%;
  width: 80%;
}

}
